* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.app{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #782cb6; */
    padding: 30px;
    /* background-image: url('./Photos/Martitata.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.container{
    display: flex;
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #f6f6f6;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2800px ;
}

.container .cover{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

/* .container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #787380;
    opacity: 0.5;
    z-index:100;
} */
.container .cover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/MonaLisa.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 100;
}

.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

#flip{
    visibility: hidden;
}

.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.container .front img {
    width: 200px; 
    height: auto; 
} 


/* .container form{
.container form{
    height: 650px;
    width: 650px;
    background: #f0f0f0;
} */

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}

.form-content .login-form,
.form-content .signup-form{
    width: calc(100%/2 - 25px);
    
}
form .form-content .title{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    /* position: center; */
}

/* form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #fdfbff;
} */

form .signup-form .form-content .title:before{
    width: 20px;
}

form .form-content .input-box{
    margin-top:30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin:10px 0;
    position:relative;
}


.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s erase;
}

.form-content .input-box input:focus
.form-content .input-box input:valid{
    border-color:#7d2ae8
}

.form-content .input-box input i{
    position: absolute;
    columns: #7d2ae8;
    font-size: 17px;
}
form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color:#333;
}

form .form-content .text a{
    text-decoration: none;
}

form .form-content .text a:hover{
    text-decoration: underline;
}

.form-content .input-box .button{
    color: #fff;
    margin-top: 40px;
}

.form-content .input-box .button input{
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
} 

form .form-content .button input:hover{
    background: #5b13b9;
    
} 

form .form-content label{
    color: #5b12b9;
    cursor:pointer;
}

form .form-content label:hover{
    text-decoration: underline;
}

.title{
    display: flex;
    margin-left: 40%;
}

.media-options{
    display: flex;
    flex-direction: column;

}