.sub-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .edit-btn {
    margin-left: 10px;
  }
  
  .delete-btn {
    background-color: green;
  }

  .bio-editPageButton-container{
    display: flex;
    background-color: transparent;
    text-align: left;
    width: 100%;
  }