.alabala {
    position: relative;
  }
  
.delete-container {
position: absolute;
top: 0;
right: 0;
padding: 5px;
}
  
.delete-button {
color: white; /* Change color to match your design */
}
.pics{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    /* border: 3px solid #ff0000; */

    margin-bottom: 12px;
}

.pics:hover{

    filter: opacity(.8)
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* photos.css

.photo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .photo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%; 
    height: 100%;
  }
  
  .photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .delete-button {
    position: absolute;
    bottom: 0;
  }
   */